<div class="jumbotron vertical-center">
    <div class="container">
		<div class="row">
			<center><h2>Edit User</h2></center>
		</div>
		<% if(flash && flash.err){ %>
		<div class="row">
			<div class="col-md-5">
				<div class="alert alert-warning">
					<%= flash.err %>
				</div>
			</div>
		</div>
		<% } %>
		<form class="form" action="/user/update/<%= user.id%>" method="POST">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<input type="text" class="form-control" name='name' placeholder="Name" value="<%=user.name%>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<input type="text" class="form-control" name="title" placeholder="title" value="<%=user.title%>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="Email" value="<%=user.email%>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<input type="text" class="form-control" name="confirmpwd" placeholder="Confirm Password" >
					<input type="hidden" name="_csrf" value="<%= _csrf %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<input type="submit" class="btn btn-info" value="Update Now">
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
